<div class="row">
	<div class="col s12 center">
		<img src="{{APP_SERVICE_PATH}}/images/SD.png">
		<h1>Nombre de equipo A</h1>
		<p>
			Santiago Bernabeu
			<br>
			<img class="flag" src="{{APP_RESOURCES}}/images/flags/es.png"/> España
		</p>
	</div>
</div>

<div class="row">
	<div class="s12">
		<table class="table striped centered">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Nacimiento</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Nombre de jugador<br><b>#1</b> Centro</td>
					<td>10/11/1995</td>
				</tr>
				<tr>
					<td>Nombre de jugador<br><b>#11</b> Delantero</td>
					<td>10/11/1995</td>
				</tr>
				<tr>
					<td>Nombre de jugador<br><b>#10</b> Centro</td>
					<td>10/11/1995</td>
				</tr>
				<tr>
					<td>Nombre de jugador<br><b>#23</b> Defensa</td>
					<td>10/11/1995</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="bottom-space"></div>

<!-- back floating button -->
<div class="fixed-action-btn">
	<a class="btn-floating btn-large waves-effect waves-light green" href="#!" onclick="apretaste.send({'command':'FUTBOL'})">
		<i class="material-icons">arrow_back</i>
	</a>
</div>