<div class="row">
    <div class="col">
        <h1><%= article.title %></h1>
        <%= article.body %>
    </div>
</div>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large waves-effect waves-light green" href="#!" onclick="apretaste.send({command: 'BASEBALL NEWS', data: {query: ''}});">
        <i class="material-icons">arrow_back</i>
    </a>
</div>
