<div class="row">
  <div class="col s12 l12 m12 x12">
    <h1>&Uacute;ltimas Noticias de Baseball en Cuba</h1>
    <small>Por el Neno Diaz</small>
  </div>
</div>

<div class="row">
  <div class="col s12 l12 m12 x12">
        <% for(var i = 0; i < noticias.length; i++) {
            var noticia = noticias[i];
        %>
        <p>
        <b><a href="#!" onclick="apretaste.send({command: 'DDC HISTORIA', data:{query: '<%= noticia.link %>'}});">
            <%= noticia.titulo %></a></b>
        </p>
        <p align="justify"><%= noticia.descripcion.substr(0, 200) %>...</p>
    <% } %>
  </div>
</div>
