<div class="row">
    <div class="col">
        <h1>Juegadores de <%= team.name %></h1>
    </div>
</div>

<div class="row">
    <div class="col">
        <table class="striped">
            <% for(i=0; i<players.length;i++) { var player = players[i]; %>
            <tr>
                <td>#<%= player.number %></td>
                <td><%= player.name %></td>
                <td><%= player.position %></td>
            </tr>
           <% } %>
        </table>
    </div>
</div>
