<div class="row">
  <div class="col s12 l12 m12 x12">
    <h1>Selecciona tu liga:</h1>
  </div>
</div>
<div class="row">
  <div class="col s12 l12 m12 x12">
    <table style="text-align:center;" width="100%">
      <tr>
        <th>
          <h2>Liga</h2>
        </th>
        <th>
          <h2>Jornada Actual</h2>
        </th>
        <th>
          <h2>M&aacute;s informaci&oacute;n</h2>
        </th>
      </tr>
      <tr>
        <td style="font-weight: bold;">Major League Baseball</td>
        <td style="">
          <a href="#!" onclick="apretaste.send({command: 'BASEBALL MLB', data: {query: 'jornada'}});">Juegos de hoy</a></td>
        <td style="" colspan="1">
          <a class="btn" href="#!" onclick="apretaste.send({command: 'BASEBALL MLB', data:{query: 'LIGA'}});">Ver Liga</a>
        </td>
      </tr>
      <tr>
        <td style="font-weight: bold;">Liga Cubana</td>
        <td style="">
          <a href="#!" onclick="apretaste.send({command: 'BASEBALL CUBANA', data: {query: 'jornada'}});">Juegos de hoy</a></td>
        <td style="" colspan="1">
          <a class="btn" href="#!" onclick="apretaste.send({command: 'BASEBALL CUBANA', data: {query: 'LIGA'}});">Ver Liga</a>
        </td>
      </tr>
      <tr>
        <td colspan="4">
          <small>&iexcl;Proximamente las ligas del caribe!</small>
        </td>
      </tr>
    </table>
  </div>
</div>