<div class="row">
	<div class="col s12">
		<h1>Ligas de Baseball</h1>
	</div>
</div>

<div class="row">
  <div class="col s12 l12 m12 x12">
     <div class="card horizontal">
          <div class="card-image">
              <img src="{{APP_SERVICE_PATH}}/images/MLB.png">
          </div>
          <div class="card-stacked">
              <div class="card-content">
                  <a href="#!" onclick="apretaste.send({command: 'BASEBALL MLB', data:{query: 'LIGA'}});"><span class="card-title grey-text text-darken-4">Major League Baseball</span></a>
                  <p></p>
                  <p><img class="flag" src="{{APP_RESOURCES}}/images/flags/us.png"/> USA</p>
              </div>
              <div class="card-action">
                  <a href="#!" onclick="apretaste.send({command: 'BASEBALL MLB', data:{query: 'LIGA'}});">VER</a>
                  <a href="#!" onclick="apretaste.send({command: 'BASEBALL MLB', data: {query: 'jornada'}});">JUEGOS HOY</a>
                  <a href="#!" onclick="apretaste.send({command: 'BASEBALL MLBNEWS', data: {query: ''}});">NOTICIAS</a>
              </div>
          </div>
      </div>
      <div class="card horizontal">
          <div class="card-image">
              <img src="{{APP_SERVICE_PATH}}/images/SNB.png">
          </div>
          <div class="card-stacked">
              <div class="card-content">
                  <a href="#!" onclick="apretaste.send({command: 'BASEBALL CUBANA', data: {query: 'LIGA'}});"><span class="card-title grey-text text-darken-4">Liga Cubana</span></a>
                  <p></p>
                  <p><img class="flag" src="{{APP_RESOURCES}}/images/flags/cu.png"/> Cuba</p>
              </div>
              <div class="card-action">
                  <a href="#!" onclick="apretaste.send({command: 'BASEBALL CUBANA', data: {query: 'LIGA'}});">VER</a>
                  <a href="#!" onclick="apretaste.send({command: 'BASEBALL CUBANA', data: {query: 'jornada'}});">JUEGOS HOY</a>
                  <a href="#!" onclick="apretaste.send({command: 'BASEBALL CUBANA', data: {query: 'NOTICIAS'}});">NOTICIAS</a>
              </div>
          </div>
      </div>
  </div>
</div>
