<div class="row">
	<div class="col s12">
		<h1>Ligas de Fútbol</h1>
	</div>
</div>

<div class="row">
	<div class="col s12">
		<div class="card horizontal">
			<div class="card-image">
				<img src="{{APP_SERVICE_PATH}}/images/SD.png">
			</div>
			<div class="card-stacked">
				<div class="card-content">
					<span class="card-title grey-text text-darken-4">La Liga</span>
					<p>Jornada 2</p>
					<p><img class="flag" src="{{APP_RESOURCES}}/images/flags/es.png"/> España</p>
				</div>
				<div class="card-action">
					<a href = "#!" onclick="apretaste.send({command: 'FUTBOL RESULTADOS'})">Resultados</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col s12">
		<div class="card horizontal">
			<div class="card-image">
				<img src="{{APP_SERVICE_PATH}}/images/CL.png">
			</div>
			<div class="card-stacked">
				<div class="card-content">
					<span class="card-title grey-text text-darken-4">Champions's league</span>
					<p>Jornada 4</p>
					<p><img class="flag" src="{{APP_RESOURCES}}/images/flags/bw.png"/> Europe</p>
				</div>
				<div class="card-action">
					<a href = "#!" onclick="apretaste.send({command: 'FUTBOL RESULTADOS'})">Resultados</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col s12">
		<div class="card horizontal">
			<div class="card-image">
				<img src="{{APP_SERVICE_PATH}}/images/BL.png">
			</div>
			<div class="card-stacked">
				<div class="card-content">
					<span class="card-title grey-text text-darken-4">Bundersliga</span>
					<p>Jornada 4</p>
					<p><img class="flag" src="{{APP_RESOURCES}}/images/flags/bw.png"/> Europe</p>
				</div>
				<div class="card-action">
					<a href = "#!" onclick="apretaste.send({command: 'FUTBOL RESULTADOS'})">Resultados</a>
				</div>
			</div>
		</div>
	</div>
</div>